<h1>
    Merhaba, {{fullname}}
</h1>

<p>
    Hesabınız doğrulamak için aşağıdaki linki kullanabilirsin.Link 1 gün geçerlidir.Eğer süre sonuna kadar hesabını aktif etmezsen kalıcı olarak silinecektir.
    {{link}}
</p>